<%include header.html%>
<div class="container-fluid">
<form class="form-horizontal" method="post">
    <fieldset>
      <legend>mqtt测试</legend>
      <div class="contro-group">
        <div class="control-group">
          <label class="control-label" for="mqttpublish">推送内容</label>
          <input type="text" name="input-xlarge" id="mqttcontain" name="mqttcontain" />
        </div>
        <div class="form-action">
        <button type="submit" class="btn btn-primary">推送</button> 
      </div>
      </div>
       <div class="control-group">
        <label class="control-label" for="mqttrecive">接受内容</label>
        <input type="text" name="input-xlarge" id="mqttrecivecon" name="mqttcontain" />
      </div>
     
    </fieldset>
  </form>
</div>

